<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="Titulo">Listas de Productos</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">Crear Producto</button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-5">
                        <thead>
                          <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Stock</th>
                            <th scope="col"> </th>                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let producto of listProductos">
                            <td>{{producto.Codigo}}</td>
                            <td>{{producto.Nombre}}</td>
                            <td>{{producto.Descripcion}}</td>
                            <td>{{producto.Valor | currency: 'COP'}}</td>
                            <td>{{producto.Categoria}}</td>
                            <td>{{producto.Stock}}</td>
                            <td>
                              <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                              <i (click)="eliminarProducto(producto._id)" class="fas fa-trash-alt text-danger"></i>
                            </td>
                          </tr>                         
                        </tbody>
                      </table> 
                      <h5 *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>           
                </div>            
            </div>
        </div>
    </div>
</div>
