<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="Titulo">Crear Producto</span>
                    <form>
                        <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Código">
                        </div>
                        <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Descripción">
                        </div>
                        <div class="mb-3">
                        <input type="number" class="form-control form-control-lg" placeholder="Valor">
                        </div>
                        <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Categoria">
                        </div>
                        <div class="mb-3">
                        <input type="number" class="form-control form-control-lg" placeholder="Stock">
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</div>