/* You can add global styles to this file, and also import other style files */


body {
    background: #093028;  
    background: -webkit-linear-gradient(to right, #237A57, #093028);  
    background: linear-gradient(to right, #237A57, #093028);
}

.Titulo{
    font-size: 1.8rem;
    font-family: 'M PLUS 2', sans-serif;
}

